@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
body{
    background-color: rgb(255, 255, 255);
    margin:0%;
    color: rgb(0, 0, 0);
}

header{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: 4px solid rgb(171, 88, 0);
    font-size: 25px;
    text-decoration: nome;
    display: flex;
    justify-content: space-betrween;
    align-items: center;
    margin: 0 auto;
   
}

header h3{
font-size: 40px;
color: rgb(255, 255, 255);
font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header ul{
    list-style: nome;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li{
margin-left: 20px;
font-size: 20px;
}
header ul li a{
    color: rgb(192, 105, 0);
    text-decoration: none;
    transition: color 0.5s;
}

header ul li a:hover{
    color: rgb(187, 101, 20);
}
.foto{
    display: flex;
    justify-content: center;

}

.foto-perfil{
    width: 130px;
    height: 150px;
    margin: 20px;
    border: 3px solid rgb(197, 149, 16);
}
.info{
    text-align: center;
}