@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: oklch(92.067% 0.04162 8.582);
    margin: 0;
    color: ghostwhite;
}

header{
    background-color: pink;
    padding: 10px;
    border-bottom: 4px solid rgb(161, 124, 76);
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header h3{
    font-size: 40px;
    font-family: font-family: "Inter", sans-serif;
  font-style: normal;
    color: white;
    text-align: center;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li {
margin-left: 20px;
font-size: 20px;
}

header ul li a {
color: hotpink;
text-align: none;
transition: color 0.5s;
}
  
header ul{
    color: azure;
}
